<h1>Trainers</h1>

<%= link_to 'Back to Pokémon List', pokemons_path, class: 'btn btn-secondary mb-3' %>
<%= link_to 'Create New Trainer', new_trainer_path, class: 'btn btn-primary mb-3' %>

<table class="table">
  <thead>
    <tr>
      <th>Trainer</th>
      <th>Pokémon</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @trainers.each do |trainer| %>
      <tr>
        <td style="text-align: center;">
          <strong><%= trainer.name %></strong>
          <br>
          <% if trainer.image.attached? %>
            <%= image_tag trainer.image, width: '100px' %>
          <% else %>
            <p>No image</p>
          <% end %>
        </td>
        <td>
          <% trainer.pokemons.each do |pokemon| %>
            <div style="text-align: center; display: inline-block; margin-right: 10px;">
              <%= image_tag pokemon.image, width: '50px' if pokemon.image.attached? %>
              <br>
              <%= pokemon.name %>
            </div>
          <% end %>
        </td>
        <td>
          <%= button_to 'Delete Trainer', trainer_path(trainer),
              method: :delete,
              class: 'btn btn-danger' %>
          <br>
          <%= link_to 'Add Pokémon', new_trainer_pokemon_trainer_path(trainer), class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
